{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
				{{ super() }}
				Welcome To Flask Project
{% endblock %}

{% block content%}
				{% if username%}
								<h1>Bienvenido {{username}}</h1>
				{% else %}

								<div id='barra-lateral1'>
												<div id='barra2'>
																<h1>Bienvenido</h1>
																<p>Por favor registrate <a href="{{url_for('auth.login')}}">Aqui</a></p>
												</div>
								</div>
				{%endif%}

{%endblock%}
